/* Imported fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* custom root variables */

:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-off-white: #F5F5F5;
    --main-light-gray: #F0F0F0;
    --menu-toggle-dark: #333;
    --body-font-family: "Roboto", "Open Sans", "Lato", "Merriweather";
    --header-font-family: "Oswald", "Montserrat", "Playfair";
    --small-screen-font-size: 1rem;
    --medium-screen-font-size: 1.125rem;
    --large-screen-font-size: 1.25rem;
    --small-H1-font-size: 24px;
    --medium-H1-font-size: 28px;
    --large-H1-font-size: 32px;
    --small-H2-font-size: 21px;
    --medium-H2-font-size: 25px;
    --large-H2-font-size: 29px;
    --small-text-font-size: 12px;
    --medium-small-text-size: 14px;
    --large-small-text-size: 16px;
}




/* Basic reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font-family);
    background-color: snow;
    height: 100vh;
    font-size: var(--small-screen-font-size);
    font-weight: bold;
    box-sizing: border-box;
}

header {
    margin-bottom: 1rem;
}

header,
footer {
    background-color: #333;
    color: white;
    padding: 20px;
}

h1 {
    font-size: var(--small-H1-font-size);
    text-align: center;
}

.form-container {
    background-color: #bcb2b202;
    padding: 20px;
    border-radius: 10px;
    margin: 1.5rem auto;
    box-shadow: 0 0 10px #C9CDD0;
    height: 100%;
    max-width: 300px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    text-align: center;
    font-size: 1em;
    color: black;
    margin-bottom: 10px;
}

::placeholder {
    padding: 10px;
    font-weight: bold;
}

label {

    display: block;
    margin-bottom: 12px;
    color: black;
    font-size: 1em;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: rgb(3, 3, 3);
    border: 1px solid #C9CDD0;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    box-shadow: -3px 2px 5px 0px #333;
    accent-color: gold;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
button:focus,
input[type="checkbox"]:focus,
a:focus {
    border: 1px inset goldenrod;
    accent-color: rgb(0, 145, 255);
}

input[type="checkbox"] {
    margin-left: 5px;
    margin-right: 5px;
}

a:hover {
    color: rgb(16, 68, 68);
    text-decoration: underline;
}



.button-container {
    text-align: center;
}


button {
    width: 150px;
    padding: 10px;
    background-color: #030303;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    margin: 1rem;
}

button:hover {
    background-color: #403f3e;
}

p {
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    font-size: var(--small-text-font-size);
}

p a {
    font-weight: bold;
    color: rgb(4, 4, 4);
    text-decoration: underline;
    border-radius: 3px;
    padding: 6px;
}

p a:hover {
    text-decoration: underline;
}

p a:visited {
    color: rgb(0, 0, 0);
}

/* FOOTER STYLE */
footer {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
}

div.anchor {
    display: grid;
    gap: 20px;
    grid-template-columns: [footer]1fr;
    grid-template-rows: auto;
    place-items: center;
}

footer a:link {
    color: rgb(255, 255, 255);
    font-size: 0.5cm;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    width: 200px;
}

footer a:active {
    color: darkgoldenrod;
    font-size: 0.5cm;
    font-weight: bold;
    padding: 5px;
}

footer a:hover {
    color: rgb(0, 255, 255);
    text-decoration: underline;
}

footer a:visited {
    color: white;

}

/* -----------FOOTER STYLE END ----------- */

/* Portrait and Landscape (medium screen)*/
@media only screen and (min-width: 600px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        font-size: var(--medium-screen-font-size);
    }

    h1 {
        font-size: var(--medium-H1-font-size);
    }

    .form-container {
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px #C9CDD0;
        max-width: 700px;
        height: 100%;

    }

    header {
        height: 100px;
        text-align: center;
    }

    label {
        font-size: 2em;
        color: rgb(0, 0, 0);
    }


    p {
        font-size: var(--medium-small-text-size);
    }

    div.anchor {
        display: flex;
        gap: 20px;
        flex-direction: row;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="password"],
    input[type="number"] {
        width: 100%;
        padding: 22px;
        margin-top: 10px;

    }

    ::placeholder {
        font-weight: 900;
    }

    button {
        width: 200px;
        height: 50px;
        font-size: var(16px);
    }

    footer {
        max-height: 100px;
    }

    footer a:link {
        font-size: 1remm;
        padding: 10px;
    }

    small {
        font-size: var(--medium-small-text-size);
    }
}

/* LARGE SCREEN MEDIA QUERY*/
@media only screen and (min-width: 1024px) {

    body {
        font-size: var(--large-screen-font-size);
    }

    h1 {
        font-size: var(--large-H1-font-size);
    }

    .form-container {
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 10px #C9CDD0;
        max-width: 500px;
        height: auto;

    }

    header {
        max-height: 100px;
        text-align: center;
    }

    label {
        font-size: .5cm;
        color: rgb(0, 0, 0);
    }

    p {
        font-size: .5cm;
    }

    div.anchor {
        margin: 1rem auto;
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="password"],
    input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-top: 5px;

    }

    ::placeholder {
        font-weight: 900;
    }

    button {
        font-size: 15px;
        width: 200px;
        height: 50px;
    }

    footer {
        padding: 30px;
        max-height: 100px;
    }

    footer a:link {
        font-size: .6cm;
        padding: 10px;
    }

    small {
        font-size: var(--large-small-text-size);
    }

    footer a:hover {
        color: rgb(0, 255, 255);
        text-decoration: underline;
    }
}