*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: snow;
    height: 100vh;
    font-weight: bold;
    box-sizing: border-box;
}

header {
    margin-bottom: 1rem;
}

header,
footer {
    background-color: #333;
    color: white;
    padding: 20px;
}

h1 {
    font-size: 1.3rem;
    text-align: center;
}

.form-container {
    background-color: #bcb2b202;
    padding: 20px;
    border-radius: 10px;
    margin: 1.5rem auto;
    box-shadow: 0 0 10px #C9CDD0;
    height: 100%;
    max-width: 300px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    text-align: center;
    font-size: 1em;
    color: black;
    margin-bottom: 10px;
}

::placeholder {
    padding: 10px;
    font-weight: bold;
}

label {

    display: block;
    margin-bottom: 12px;
    color: black;
    font-size: 1em;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: rgb(3, 3, 3);
    border: 1px solid #C9CDD0;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    box-shadow: -3px 2px 5px 0px #333;
    accent-color: gold;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
button:focus,
input[type="checkbox"]:focus,
a:focus {
    border: 1px inset goldenrod;
    accent-color: rgb(0, 145, 255);
}

input[type="checkbox"] {
    margin-left: 5px;
    margin-right: 5px;
}

a:hover {
    color: rgb(16, 68, 68);
    text-decoration: underline;
}



.button-container {
    text-align: center;
}


button {
    width: 150px;
    padding: 10px;
    background-color: #030303;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    margin: 1rem;
}

button:hover {
    background-color: #403f3e;
}

p {
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

p a {
    font-weight: bold;
    color: rgb(4, 4, 4);
    text-decoration: underline;
    border-radius: 3px;
    padding: 6px;
}

p a:hover {
    text-decoration: underline;
}

p a:visited {
    color: rgb(0, 0, 0);
}

/* FOOTER STYLE */
footer {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
}

div.anchor {
    display: grid;
    gap: 20px;
    grid-template-columns: [footer]1fr;
    grid-template-rows: auto;
    place-items: center;
}

footer a:link {
    color: rgb(255, 255, 255);
    font-size: 0.5cm;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    width: 200px;
}

footer a:active {
    color: darkgoldenrod;
    font-size: 0.5cm;
    font-weight: bold;
    padding: 5px;
}

footer a:hover {
    color: rgb(0, 255, 255);
    text-decoration: underline;
}

footer a:visited {
    color: white;

}

/* -----------FOOTER STYLE END ----------- */

/* Portrait and Landscape (medium screen)*/
@media only screen and (min-width: 600px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2) {


    h1 {
        font-size: 3rem;
    }

    .form-container {
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px #C9CDD0;
        max-width: 700px;
        height: 100%;

    }

    header {
        height: 100px;
        text-align: center;
    }

    label {
        font-size: 2em;
        color: rgb(0, 0, 0);
    }


    p {
        font-size: 1.5rem;
    }

    div.anchor {
        display: flex;
        gap: 20px;
        flex-direction: row;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="password"],
    input[type="number"] {
        width: 100%;
        padding: 22px;
        margin-top: 10px;

    }

    ::placeholder {
        font-weight: 900;
    }

    button {
        width: 200px;
        height: 50px;
    }

    footer {
        max-height: 100px;
    }

    footer a:link {
        font-size: 1cm;
        padding: 10px;
    }
}

/* LARGE SCREEN MEDIA QUERY*/
@media only screen and (min-width: 1024px) {


    h1 {
        font-size: 3rem;
    }

    .form-container {
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 10px #C9CDD0;
        max-width: 500px;
        height: auto;

    }

    header {
        max-height: 100px;
        text-align: center;
    }

    label {
        font-size: .5cm;
        color: rgb(0, 0, 0);
    }

    p {
        font-size: .5cm;
    }

    div.anchor {
        margin: 1rem auto;
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="password"],
    input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-top: 5px;

    }

    ::placeholder {
        font-weight: 900;
    }

    button {
        width: 200px;
        height: 50px;
    }

    footer {
        padding: 30px;
        max-height: 100px;
    }

    footer a:link {
        font-size: .6cm;
        padding: 10px;
    }



    footer a:hover {
        color: rgb(0, 255, 255);
        text-decoration: underline;
    }
}