/* imported font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* basic reset */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --backgroundColor: #F9F9F9;
    /* very light gray */
    --primarytextColor: #212529;
    /* darkgray/black */
    --secondarytextColor: #6C757D
        /* muted gray */
    ;
    --accentColor: #26A69A;
    /* teal */
    --accent-color: #FFC107;
    /* yellow */
    --general-fontStyle: Tahoma, "Roboto", "Open Sans", "Lato", "Merriweather";
    --headingFont: "Oswald", "Montserrat", "Playfair";
    --mobile-fontSize: 1rem;
    --tablet-fontSize: 1.125rem;
    --desktop-fontSize: 1.25rem;
    --mobile-H1: 24px;
    --tablet-H1: 28px;
    --desktop-H1: 32px;
    --mobile-H2: 21px;
    --tablet-H2: 25px;
    --desktop-H2: 29px;
    --small-text: 12px;
    --medium-small-text: 14px;
    --large-small-text: 16px;
}

html {
    scroll-behavior: smooth;
}

/* basic reset  END*/

/* STYLE FOR SMALL SCREENS */
body {
    position: relative;
    font-size: var(--mobile-fontSize);
    background-color: var(--backgroundColor);
    color: var(--primarytextColor);
    margin: 0;
    height: 100vh;
    padding: 0;
    font-family: var(--general-fontStyle);
}

/* HEADER STYLE */
.mainHeader {
    border-bottom: 2px solid gray;
    position: fixed;
    width: 100vw;
    z-index: 100;
    top: 0;
    padding: 10px;
    text-align: center;
    background-color: var(--primarytextColor);
}

#subHeader {
    position: sticky;
    width: 100vw;
    z-index: -100;
    margin-top: 2rem;
    padding: 10px;
    background-color: var(--primarytextColor);
}

h1 {
    width: fit-content;
    font-size: var(--mobile-H1);
    font-family: var(--headingFont);
    padding-left: 10px;
}

/* HEADER STYLE END */
/* style for paragraph */
#subHeader .subparagraph {
    color: white;
    font-size: 1rem;
    margin-right: 1rem;
    text-align: left;

}

header .paragraph {
    color: white;
    font-size: 1.1rem;
}

p {
    transition: color 0.3s ease;
    color: var(--primarytextColor);
    font-size: var(--small-text);
    display: block;
    font-size: 1rem;
    margin: 1em 0;
    padding: 0;
    line-height: 1.6;
    font-weight: 400;
    text-align: left;
}

p:hover {
    color: black;
    /* Slightly darker on hover */
}

p.columnGap:first-letter {
    font-size: 1.3em;
    font-weight: bold;
    float: left;
    margin-left: 5px;
}

/* paragraph style end */

/* MAIN SECTION STYLE */
.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    place-items: center;
    margin-top: 2rem;
}

div.gridContainer {
    margin: 30px auto;

}

div.aside .asideO {
    margin-top: 2rem;
}

/* MAIN STYLE END */
/* FORM STYLE */
fieldset:hover {
    transition: transform 0.3s ease;
    box-shadow: 0 3px 10px 0 var(--primarytextColor);
    transform: translateY(-5px);
}

.form input,
select {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: var(--small-text);
}

.form button {
    display: block;
    border: none;
    padding: 10px 13px;
    text-align: center;
    font-size: small;
    background-color: var(--primarytextColor);
    margin: 10px auto 20px;
    color: #F9F9F9;
    font-weight: bold;
    width: 100px;
    border-radius: 10px;
}

.form button:hover {
    cursor: pointer;
    background-color: var(--secondarytextColor);
}

label {
    padding: 5px;
    font-weight: bold;
}

::placeholder {
    font-size: small;
    padding: 10x;
}

fieldset {
    border: 1px solid rgba(222, 26, 26, 0.207);
    padding: 20px;
    border-radius: 12px;
    background-image: radial-gradient(var(--primarytextColor), var(--accent-color));
}

/* FORM STYLE END */

/* FOOTER STYLE */
div.footerSection {
    background-color: var(--secondarytextColor);
    color: white;
    display: grid;
    width: 100vw;
    position: relative;
}

#errorMessage {
    color: white;
    font-size: 1rem;
    padding: 10px;
    display: none;
}

#errorMessage:hover {
    color: red;

}

.footerSection a:link {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

.footerSection a:active {
    color: var(--accent-color);
    text-decoration: none;
}

.footerSection a:hover {
    color: var(--accent-color);
    text-decoration: underline;
    cursor: pointer;
}

.footerSection a:visited {
    color: var(--accent-color);

}

.scrollTop a {
    color: white;
    text-decoration: none;
}

.scrollTop a:visited {
    color: snow;
}

.scrollTop a:hover {
    color: black;
    text-decoration: underline;
}

.scrollTop a:active {
    color: var(--accent-color);
}

/* scroll top style */
.btn {
    z-index: 1000000;
    max-width: 100vw;
    width: 100vw;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: gray;
    max-height: 20px;
    font-weight: 900;
}

/* scroll top style end here */
/* FOOTER STYLE END */

/* modalstyle to display password */
#modal {
    display: none;
    position: fixed;
    top: 90%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-image: radial-gradient(var(--primarytextColor), var(--accent-color));
    background-color: var(--accent-color);
    font-weight: bold;
    width: 400px;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: hidden;
    height: auto;
}

#modal button {
    width: 100px;
    border-radius: 5px;
    height: 25px;
    font-size: 1rem;
}

#modal button:hover {
    background-color: var(--accentColor);
    color: black;
}

#modalContent {
    overflow: hidden;
    color: white;
    font-size: 1rem;
    width: fit-content;
}

/* modalstyle to display password end */
/* MEDIA QUERIES FOR TABLETS */

@media screen and (min-width:600px) and (max-width: 1023px) {

    body {
        font-size: var(--tablet-fontSize);
    }

    header#subHeader {
        height: 100px;
        margin-top: 3rem;
    }

    #subHeader .subparagraph {
        font-size: 1.2rem;

    }

    h1#h1 {
        font-size: var(--tablet-H1);
    }

    /* 2 grid column style for the form and aside div */
    div.gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        margin: 50px auto;
    }

    div.aside {
        border-left: 3px solid black;
        margin-left: 1rem;
        grid-column: 1/2;
        grid-row: 1/2;

    }

    div.formSection {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    div.aside p {
        font-size: 1.3rem;
        padding: 5px;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    /* grid style end */
    /* FOOTER STYLE */
    .footerSection .footerP {
        font-size: 1.3rem;
    }

    div.footerSection {
        flex-flow: row wrap;
        display: flex;
    }

    /* FORM STYLE */
    .form input,
    select {

        border: 2px solid #ddd;
        padding: 17px;
        border-radius: 10px;
        margin: 15px 0;
        font-size: 1.1em;
    }

    .form button {

        padding: 15px 20px;
        font-size: 18px;
        width: 200px;
    }

    label {
        padding: 10px;
        font-size: 1.2rem;
    }

}

/* MEDIA QUERIES FOR TABLETS */

@media screen and (min-width:1024px) and (max-width:3500px) {

    body {
        font-size: var(--desktop-fontSize);
    }

    header#subHeader {
        height: 100px;
        margin-top: 5rem;
    }

    #subHeader .subparagraph {
        font-size: 1.2rem;
    }

    h1#h1 {
        font-size: 3rem;
    }

    /* 2 grid column style for the form and aside div */
    div.gridContainer {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        margin: 50px auto;
    }

    div.aside {
        border-left: 3px solid black;
        margin-left: 1rem;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    div.formSection {
        margin-top: 3rem;
        padding: 0;
        grid-column: 2/3;
        grid-row: 1/3;
    }

    div.aside p {
        font-size: 1.3rem;
        padding: 10px;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    /* grid style end */
    .footerSection .footerP {
        font-size: 1.6rem;
    }

    div.footerSection {
        flex-flow: row;
        display: flex;
    }

    .form input,
    select {
        border: 2px solid #ddd;
        padding: 5px;
        border-radius: 10px;
        margin: 10px 0;
        font-size: 1.3em;
    }

    .form button {

        padding: 20px 22px;
        font-size: 20px;
        width: 350px;
    }

    label {
        padding: 10px;
        font-size: 1.3rem;
    }
}